body {
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    /* border: 1px solid black; */
    margin: 2rem auto;
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    box-shadow: 4px 8px 40px grey;
    border-radius: 10px;
}

.logo {
    font-size: 4rem;
}

.container h1 {
    color: aliceblue;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 3px 5px 15px teal;
}

.blackjack-result {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 4px 10px grey;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2 {
    color: aliceblue;
    background-image: url(../bjmat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 1rem;
}

.flex-blackjack-row-1 div {
    /* border: 1px solid black; */
    flex: 1;
    min-height: 17rem;
    text-align: center;
}

.flex-blackjack-row-2 div,
.flex-blackjack-row-2 .btn {
    /* border: 1px solid black; */
    padding: 10px;
}

table tr td {
    border: 2px solid grey;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .flex-blackjack-row-1 img {
        width: 50%;
        padding: 10px;
    }
}
